.main-content,
.one-thing,
p {
    border: 1px solid red;
}

/* Font rules */

h1,
h2 {
    font-family: 'Noto Serif', sans-serif;
}

body {
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
}

.main-content,
.secondary-content {
    font-family: 'Noto Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #242424;
    height: 50%;
}

.one-thing {
    display: flex;
    /* padding-bottom: 2%;
    padding-right: 5%; */
    flex-direction: column;
    align-items: center;
}

details {
    padding-bottom: 1%;
}

summary {
    display: flex;
    font-weight: bold;
    align-items: center;
}

/* .poem {
    width: 100%;
} */

.main-content,
.one-thing,
.title,
.poem {
    width: 100%;
}

/* .one-thing p {
    box-sizing: border-box;
} */

.one-thing:last-child {
    padding-bottom: 0;
}

.secondary-content {
    color: #464646;
    height: 50%;
    width: 100%;
}

.another-thing {
    padding-left: 5%;
    padding-right: 5%;
}

.puppet {
    width: 100%;
}

/* @media (min-width: 768px) {

    .one-thing {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .one-thing p {
        display: flex;
        flex: 1;
        padding-right: 4%;
    }
} */