.container {
    display: flex;
    flex-direction: column;
}

.main-content {
    color: #242424;
    height: 50%;
    width: 100%;
}

.one-thing {
    display: flex;
    padding-bottom: 2%;
    flex-wrap: wrap;
}

.one-thing p {
    margin-right: 2%;
    padding-bottom: 2%;
    flex: 1;
}

.secondary-content {
    color: #5a5a5a;
    height: 50%;
    width: 100%;
}

.puppet {
    width: 100%;
}

@media {

}