.container {
    display: flex;
    flex-direction: column;
}

.main-content {
    color: #242424;
    height: 50%;
    width: 100%;
}

.one-thing {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.one-thing p {
    margin-right: 10px;
}

.secondary-content {
    color: #5a5a5a;
    height: 50%;
    width: 100%;
}